carrier: ''
gmail_password: ''
location: New_York
phone_number: ''
prefers_email: true
stt_engine: sphinx
pocketsphinx:
  hmm_dir: '/usr/share/pocketsphinx/model/hmm/en_US/hub4wsj_sc_8k'
tts_engine: espeak-tts
timezone: EST
